@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 79.31%;
  margin: 0 auto;
}

/* css reset  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth;
}

/* common styling  */
.flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.underline {
  color: var(--primary-color);
  text-decoration: underline;
}

.heading {
  font-size: 38px;
  font-weight: 700;
}

.section-para {
  margin-bottom: 28px;
  color: var(--p-color);
  font-size: 14px;
  line-height: 22px;
}

/* root elements  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #0dcaf0;
  --secondary-color: #0d6efd;
  --section-bg-color: #f0f8ff;
  --navbar-bg-color: #273053;
  --p-color: #717275;
  --highlight-icon-color: #ff0100;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 16px 0;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: var(--navbar-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 66%;
}

.logo {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
}

.brand-logo {
  margin-right: 24%;
  flex-basis: 15%;
}

.logo::before {
  content: "\f140";
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-size: 32px;
  font-family: "FontAwesome";
  float: left;
}

.nav-item {
  margin: 0 15px;
  color: var(--white-color);
  font-size: 13px;
  font-weight: 600;
}

.nav-item.active { color: var(--primary-color); }

.header-btn {
  margin-left:1.5%;
}

.custom-btn {
  padding: 12px 18px;
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 13px;
  font-weight: 700;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: var(--white-color);
  text-indent: -9999px;
}

.hamburger { display: none; }
/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  hero section styling starts here
=================================*/
.hero-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: .8;
  object-fit: cover;
}

.hero-section { position: relative; }
.hero-section .wrapper { width: 100%; }

.hero-section::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#2730531a 0, #273053 100%) repeat scroll;
}

.hero-content {
  padding: 15% 0 10%;
  flex-direction: column;
}

.hero-heading,
.year {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
}

.year { margin-bottom: 30px; }

.time-venue span {
  padding: 11px 16px;
  display: inline-block;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 15px;
}

.next-section-btn {
  display: inline-block;
  text-indent: -9999px;
}

.next-section-btn::before {
  content: "\f063";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.time-venue { margin-bottom: 40px; }
/*=================================
  hero section styling ends here
=================================*/
/*=================================
  highlight section styling starts here
=================================*/
.highlight-section {
  padding: 32px 0;
  background-color: var(--navbar-bg-color);
}

.highlight-list { justify-content: space-between; }

.highlight-item img {
  transition: all .6s;
}

.highlight-item {
  position: relative;
  overflow: hidden;
  flex-basis: 32%;
  cursor: pointer;
}

.highlight-item figcaption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: var(--white-color);
  font-size: 28px;
  font-weight: 700;
}

.play-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
}

.play-icon::before {
  content: "\f167";
  display: none;
  color: var(--highlight-icon-color);
  font-size: 60px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.highlight-item:hover .play-icon::before { display: block; }

.highlight-item:hover figcaption {
  display: none;
  transition: all .1s;
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 63, 72, .7);
  z-index: 2;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 23%;
}

.close-btn span {
  display: inline-block;
  text-indent: -9999px;
}

.modal-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.close-btn span::before {
  content: "\f00d";
  color: var(--white-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  font-size: 30px;
}

.video { width: 50%; }
.remove-scroll { overflow: hidden; }
/*=================================
  highlight section styling ends here
=================================*/
/*=================================
  story section styling starts here
=================================*/
.story { padding: 108px 0; }
.story .heading { margin-bottom: 35px; }

.left-heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.avatar-list {
  display: flex;
  margin-right: 5%;
}

.avatar-img {
  height: 100%;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  object-fit: cover;
}

.story-box { align-items: initial; }
.left-story { margin-right: 2%; }

.meet-btn,
.schedule-btn {
  padding: 10px 17px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
}

.meet-btn {
  margin-right: 2%;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.schedule-btn {
  padding: 12px 15px;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
}

.bold-para {
  margin-bottom: 48px;
  font-size: 23px;
  font-weight: 600;
  line-height: 33px;
}

.left-story .section-para { padding-right: 5%; }

.bottom-para {
  color: var(--p-color);
  font-size: 14px;
}

.right-bottom-story {
  padding: 48px 0;
  border-top: 1px solid var(--p-color);
  justify-content: initial;
}

.avatar-item {
  width: 40px;
  height: 40px;
}

.avatar-item:not(:first-child) {
  position: relative;
  right: 6px;
}
/*=================================
  story section styling ends here
=================================*/
/*=================================
  speakers section styling starts here
=================================*/
.speakers {
  padding: 100px 0;
  background-color: var(--section-bg-color);
}

.speaker-content {
  padding: 0 8.5%;
  flex-basis: 70%;
}

.speaker-content .heading { margin-bottom: 23px; }

.ceo-image,
.ceo-image figure {
  position: relative;
}

.featured {
  padding: 6px;
  border-radius: 4px;
  position: absolute;
  top: 8px;
  right: 1.5%;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 10px;
  text-transform: uppercase;
}

.speaker-info {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ceo-info-group {
  width: 100%;
  padding: 12px 5%;
  background-color: var(--white-color);
  position: relative;
}

.ceo-info-group,
.info-group {
  background: linear-gradient(to left, #fff 50%, var(--primary-color) 50%) right;
  background-size: 200%;
  transition: all .5s ease;
}

.ceo-info-group:hover,
.info-group:hover {
  background-position: left;
}

.ceo-name {
  font-size: 21px;
  font-weight: 600;
}

.ceo-designation {
  color: var(--p-color);
  font-size: 13px;
  text-transform: uppercase;
}

.team-social {
  opacity: 0;
  position: absolute;
  right: 5px;
}

.info-group .team-social li { margin: 0; }

.speaker-name {
  font-size: 19px;
  font-weight: 600;
}

.designation {
  color: var(--p-color);
  font-size: 12px;
  text-transform: uppercase;
}

.info-group {
  width: 100%;
  padding: 8px 5%;
  background-color: var(--white-color);
  position: relative;
}

.ceo-info-group::before,
.info-group::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  transition: all .5s;
}

.speaker-list {
  margin-top: 20px;
  justify-content: space-between;
}

.speaker-list li {
  position: relative;
  flex-basis: 23.5%;
}

.social-ceo,
.social-team {
  display: inline-block;
  text-indent: -9999px;
}

.social-ceo::before,
.social-team::before {
  content: "\f16d";
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 20px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  transition: all .3s;
}

.whatsapp::before { content: "\f232"; }
.facebook::before { content: "\f09a"; }
.google::before { content: "\f1a0"; }
/*=================================
  speakers section styling ends here
=================================*/
/*=================================
  schedules section styling starts here
=================================*/
.schedule { padding: 20px; }

.schedule .heading {
  margin-bottom: 50px;
  text-align: center;
}

.schedule-date {
  padding: 22px;
  border-left: 3px solid transparent;
  flex-basis: 25%;
  cursor: pointer;
}

.schedule-date.active {
  border-left: 3px solid var(--primary-color);
  box-shadow: 0 16px 48px rgb(0 0 0 / 18%);
}

.schedule-date.active .day { color: var(--primary-color); }

.day {
  display: block;
  font-size: 30px;
  font-weight: 700;
}

.date { color: var(--p-color); }

.meet-item:nth-child(2n) {
  position: relative;
  border-top: 1px solid #dee2e6;
}

.schedule-list .meet-img {
  margin-right: 2.5%;
  flex-basis: 59.5%;
}

.schedule-list img { border-radius: 20px; }

.schedule-list li {
  padding: 45px 0;
  align-items: inherit;
}

.meet-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}

.clock,
.sidebar {
  display: block;
  color: #212529;
}

.clock::before,
.sidebar::before {
  content: "\f017";
  margin: 3px 10px 0;
  font-family: "FontAwesome";
  float: left;
}

.sidebar::before { content: "\f594"; }
.clock { margin: 0 4%; }
.sidebar { margin: 0 4%; }

.info-item img {
  width: 42px;
  height: 42px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.meet-info .info-item {
  padding: 0;
  justify-content: initial;
}

.meet-title a { color: var(--black-color); }
.schedule-list { display: none; }
.schedule-list.active { display: block; }

.name-post {
  display: flex;
  flex-direction: column;
}

.meet-info { justify-content: flex-start; }

.name { color: #212529; }

.post {
  color: var(--p-color);
  font-size: 11px;
  text-transform: uppercase;
}
/*=================================
  schedule section styling ends here
=================================*/
/*=================================
  become speaker section styling starts here
=================================*/
.become-speaker {
  padding: 105px 0;
  position: relative;
  background: url(../images/terren-hurst-blgOFmPIlr0-unsplash.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.become-speaker .heading,
.become-para {
  color: var(--white-color);
  font-weight: 600;
}

.become-para {
  font-size: 15px;
  line-height: 23px;
}

.become-speaker .heading { margin-bottom: 30px; }

.become-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.become-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.become-content { flex-basis: 56%; }

.register-btn {
  padding: 10px 15px;
  border-radius: 20px;
  position: relative;
  left: 20%;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
}
/*=================================
  become speaker section styling ends here
=================================*/
/*=================================
  ticket section styling starts here
=================================*/
.ticket { padding: 50px 0 100px; }

.ticket .heading {
  text-align: center;
  margin-bottom: 48px;
}

.ticket-list {
  flex-wrap: wrap;
}

.name-price {
  padding: 16px 30px;
  justify-content: space-between;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
  font-weight: 700;
}

.ticket-name { font-size: 24px; }
.price { font-size: 20px; }

.ticket-item {
  margin: 0 1.85% 20px 0;
  border-radius: 20px;
  overflow: hidden;
  flex-basis: 31.45%;
  box-shadow: 0 16px 48px rgba(0, 0, 0, .175);
}

.ticket-feature { padding: 25px 30px; }

.ticket-info {
  padding: 10px 0;
  color: var(--p-color);
  font-size: 15px;
}

.ticket-icon::before {
  content: "\f7b6";
  margin-right: 12px;
  font-family: "FontAwesome";
  float: left;
}

.controller::before {
  content: "\f11b";
  width: 16px;
}

.chat::before { content: "\f27a"; }
.chat { margin-bottom: 23px; }
.cash::before { content: "\f0d6"; }

.top-border {
  padding: 30px 0;
  border-top: 1px solid #dee2e6;
}

.buy-btn {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 100px;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
}
/*=================================
  ticket section styling ends here
=================================*/
/*=================================
  venue section styling start here
=================================*/
.venue {
  padding: 105px 0;
  background-color: var(--section-bg-color);
}

.venue .heading { margin-bottom: 50px; }

iframe {
  border-radius: 25px;
  margin-right: 20px;
}
.venue-content { justify-content: initial; }

.venue-detail {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 16px 48px rgba(0, 0, 0, .175);
  flex-basis: 49%;
}

.venue-heading {
  padding: 22px 28px;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
  font-size: 37px;
  font-weight: 900;
}

.venue-box {
  padding: 35px 32px;
  background-color: var(--section-bg-color);
}
.venue-box .icon { display: block; }

.venue-box .icon::before {
  content: "\f3c5";
  margin-right: 10px;
  font-family: "FontAwesome";
  float: left;
}

.venue-box .address::before { height: 65px; }

.address {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
}

.venue-box .envelope::before { content: "\f0e0"; }
.venue-box .phone::before { content: "\f095"; }

.envelope,
.phone {
  display: block;
  color: var(--p-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
}
/*=================================
  venue section styling ends here
=================================*/
/*=================================
  contact section styling ends here
=================================*/
.contact {
  padding: 100px 0;
  position: relative;
  background: url(../images/maria-stewart-p4tj0g-_aMM-unsplash.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form {
  width: 66.2%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--white-color);
  overflow: hidden;
}

.contact-form .heading {
  padding: 26px 35px;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
}

.input-box { padding: 40px; }

.input {
  margin-right: 3%;
  flex-basis: 32%;
  position: relative;
}

.input-row { position: relative; }

.input-box .error {
  position: absolute;
  bottom: 0;
}
.input:nth-child(3) {
  margin-right: 0;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 13px;
}

.input input,
textarea {
  width: 100%;
  padding: 13px;
  margin-bottom: 22px;
  border: none;
  border-radius: 8px;
  background: var(--section-bg-color);
  outline: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  resize: none;
}

.input input::placeholder,
textarea::placeholder {
  color: var(--p-color);
  font-size: 15px;
}

.submit-btn {
  width: 100%;
  padding: 11px 0;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 15px;
  font-size: 17px;
  font-weight: 700;
}

.success-msg { color: green; }
/*=================================
  contact section styling ends here
=================================*/
/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
.upper-footer {
  padding: 35px 0 50px;
  border-bottom: 1px solid #dee2e6;
  justify-content: space-between;
}

.footer-logo { flex-basis: 16%; }

.social-icon {
  display: inline-block;
  text-indent: -9999px;
}

.social-icon::before {
  content: "\f09a";
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  font-size: 18px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.instagram::before { content: "\f16d"; }
.whatsapp::before { content: "\f232"; }
.youtube::before { content: "\f167"; }

.lower-footer {
  padding: 50px 0 20px;
  justify-content: space-between;
  color: var(--p-color);
  font-size: 13px;
}

.lower-footer a {
  margin-right: 20px;
  color: var(--p-color);
  font-size: 14px;
}

.copyright p { line-height: 20px; }
.copyright-div {
  justify-content: space-between;
  flex-basis: 37.5%;
}


.top-btn {
  margin-right: 2%;
  display: inline-block;
  text-indent: -9999px;
}

.top-btn::before {
  content: "\f062";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-bg-color);
  color: var(--black-color);
  font-size: 20px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.design {
  margin-top: 20px;
  display: inline-block;
}

.footer-logo .logo { font-size: 15px; }
/*=================================
  footer styling ends here
=================================*/
/*media query starts*/
/*=================================
media query for hover effect in desktop starts here
=================================*/
@media only screen and (min-width: 995px) {
  .nav-item:hover {
    color: var(--primary-color);
    transition: all .5s;
  }

  .custom-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .5s;
  }

  .next-section-btn:hover::before {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .5s;
  }

  .highlight-item:hover::before {
    display: block;
    transition: all .1s;
  }

  .highlight-item:hover img {
    transform: scale(1.2);
    transition: all .6s;
  }

  .meet-btn:hover,
  .schedule-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .5s;
  }

  .social-ceo:hover::before,
  .social-team:hover::before {
    background-color: var(--secondary-color);
    color: var(--white-color);
    transform: scale(.9);
    transition: all .3s;
  }

  .schedule-date:hover {
    border-left: 3px solid var(--primary-color);
    box-shadow: 0 16px 48px rgba(0, 0, 0, .175);
    transition: all .2s;
  }

  .schedule-date:hover .day {
    color: var(--primary-color);
    transition: all .2s;
  }

  .register-btn:hover,
  .buy-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
  }

  .envelope:hover,
  .phone:hover {
    color: var(--primary-color);
    transition: all .3s;
  }

  .submit-btn:hover {
    background-color: var(--navbar-bg-color);
    transition: all .3s;
  }

  .social-icon:hover::before {
    transform: scale(1.03);
    background-color: var(--primary-color);
    transition: all .3s;
  }

  .top-btn:hover::before {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
  }

  .footer-menu-item:hover,
  .design a:hover {
    color: var(--primary-color);
    transition: all .3s;
  }

  .ceo-info-group:hover,
  .info-group:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all .3s;
  }

  .ceo-info-group:hover .ceo-designation,
  .info-group:hover .designation {
    color: var(--white-color);
    transition: all .6s;
  }

  .ceo-info-group:hover .team-social,
  .info-group:hover .team-social {
    opacity: 1;
    transition-delay: .5s;
  }
}
/*=================================
media query for hover effect in desktop starts here
=================================*/
/*=================================
media query for 1280px starts here
=================================*/
@media only screen and (max-width:1280px) {
  .header .wrapper {
    justify-content: space-between;
  }

  .brand-logo {
    flex-basis: 18%;
    margin-right: initial;
  }

  .header-btn { flex-basis: 16%; }

  .meet-info .info-item {
    justify-content: space-between;
    flex-basis: 28%;
  }

  .ticket-info { font-size: 11px; }
}
/*=================================
media query for 1280px ends here
=================================*/
/*=================================
media query for 1024px starts here
=================================*/
@media only screen and (max-width:1024px) {
  .brand-logo,
  .footer-logo {
    flex-basis: 22%;
  }

  .header-btn { flex-basis: 20%; }
  .meet-info .info-item { flex-basis: 32.7%; }

  .clock,
  .sidebar {
    margin: inherit;
  }

  .schedule-list .meet-img { flex-basis: 62%; }
  .schedule-list li { align-items: center; }
  .name-post .post { font-size: 10px; }
  .become-content { flex-basis: 65%; }
  .ticket-info { font-size: 11px; }
  .address { font-size: 18px; }
  .venue-heading { font-size: 35px; }
  .venue-box .address::before { height: auto; }
  .contact-form { width: 85%; }
  .input-row { flex-wrap: wrap; }
  .input-row .input:nth-child(3) { flex-basis: 100%; }
  .input { flex-basis: 46%; }
}
/*=================================
media query for 1024px starts here
=================================*/
/*=================================
media query for 995px starts here
=================================*/
@media only screen and (max-width:995px) {
  .wrapper { width: 82%; }

  .hamburger.active .bar-two { display: none; }

  .hamburger.active .bar-one {
    transform: translateY(5px) rotate(45deg);
    transition: all .3s;
  }

  .hamburger.active .bar-three {
    transform: translateY(-3px) rotate(-45deg);
    transition: all .3s;
  }

  .hamburger {
    display: block;
    z-index: 3;
    transition: all .5s;
  }

  .nav.active {
    left: 0;
    transition: all .6s ease-out;
  }

  .left-heading { font-size: 25px; }
  .nav.active .nav-item { font-size: 15px; }

  .nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    background: var(--navbar-bg-color);
    transition: all .3s;
  }
  
  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }

  .flex { flex-wrap: wrap; }
  .highlight-item { flex-basis: 46%; }
  .day { font-size: 22px; }
  .meet-item { flex-wrap: nowrap; }
  .schedule-list .meet-img { flex-basis: 100%; }

  .highlight-list,
  .meet-info,
  .story-box {
    gap: 25px;
  }

  .meet-info .info-item { flex-basis: 45%; }

  .venue-content {
    justify-content: center;
    gap: 30px;
  }

  .venue-detail { flex-basis: 80%; }

  .top-btn {
    position: fixed;
    right: 1%;
    bottom: 25px;
  }

  .speaker-list li { flex-basis: 46%; }
  .schedule-date { flex-basis: 50%; }
  .ticket-list { gap: 30px; }

  .ticket-item {
    margin: 0 3.5% 20px 0;
    flex-basis: 44%;
  }

  .story,
  .speakers,
  .venue {
    padding: 40px 0;
  }

  .ceo-info-group,
  .info-group {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .ceo-info-group .ceo-designation,
  .info-group .designation {
    color: var(--white-color);
  }

  .ceo-info-group .team-social,
  .info-group .team-social {
    opacity: 0;
    transition: all .5s ease;
  }

  .input { flex-basis: 48.5%; }

  .input:nth-child(2) { margin: 0; }
}
/*=================================
media query for 995px starts here
=================================*/
/*=================================
media query for 768px starts here
=================================*/
@media only screen and (max-width:768px) {
  .hero-heading,
  .year {
    font-size: 30px;
  }

  .time-venue span { padding: 8px 12px; }

  .highlight-item figcaption { font-size: 20px; }

  .brand-logo,
  .footer-logo {
    flex-basis: 31%;
  }

  .header-btn { flex-basis: 28%; }
  .lower-footer { gap: 20px; }

  .meet-item {
    flex-direction: column;
    gap: 25px;
  }

  .ticket-list { flex-direction: column; }
  .speaker-content { flex-basis: 100%; }
  .ticket-item { width: 80%; }
  .ticket-info { font-size: inherit; }
  .become-speaker { padding: 40px 0; }
  .register-btn { right: inherit; }

  .become-speaker .wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .speaker-list {
    flex-direction: column;
    gap: 20px;
  }

  .become-content .heading { font-size: 30px; }
  .copyright-div { flex-basis: 50%; }
  .close-btn { right: 10%; }
  .video { width: 70%; }
}
/*=================================
media query for 768px ends here
=================================*/
/*=================================
media query for 480px starts here
=================================*/
@media only screen and (max-width:480px) {
  .heading { font-size: 28px; }

  .brand-logo,
  .footer-logo {
    flex-basis: 46%;
  }

  .hero-heading,
  .year {
    font-size: 23px;
    line-height: 25px;
  }

  .time-venue {
    display: flex;
    flex-direction: column;
  }

  .register-btn { left: 0; }
  .time-venue span { font-size: 12px; }
  .highlight-item { flex-basis: 100%; }
  .left-heading { font-size: 17px; }

  .story-anc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .meet-btn { padding: 10px 30px; }
  .bold-para { font-size: 22px; }
  .bottom-para { margin-top: 15px; }
  .speaker-content { padding: inherit; }
  .schedule .heading { font-size: 30px; }
  .meet-info .info-item { flex-basis: 100%; }
  .ticket-item { width: 100%; }
  .become-content .heading { font-size: 22px; }
  .become-para { font-size: 12px; }
  .ticket { padding: 40px 0; }

  .speaker-list li {
    padding: inherit;
    flex-basis: 100%;
  }

  .ceo-image { width: 100%; }

  .schedule-date {
    padding: 12px 15px;
    flex-basis: 100%;
  }

  .venue .heading,
  .contact-form .heading {
    font-size: 28px;
  }

  .meet-info .info-item { justify-content: inherit; }
  .venue-heading { font-size: 28px; }
  .venue-box a { font-size: 18px; }
  .address { font-size: 16px; }
  .venue-detail { flex-basis: 100%; }
  .contact { padding: 50px 0; }
  .contact-form { width: 100%; }
  .input { flex-basis: 100%; }
  .input-box { padding: 25px; }
  .upper-footer { gap: 20px; }
  .footer-menu li { flex-basis: 45%; }
  .copyright-div { flex-basis: 86%; }
  .ceo-info-group .facebook { display: none; }
}
/*=================================
media query for 480px ends here
=================================*/
/*=================================
media query for 320px starts here
=================================*/
@media only screen and (max-width:320px) {
  .heading { font-size: 30px; }

  .hero-heading,
  .year {
    font-size: 18px;
  }

  .bold-para {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .hero-content { padding: 15% 0 11%; }
  .right-bottom-story { padding: 30px 0; }
  .ticket-feature { padding: 15px 20px; }
  .venue-heading { font-size: 30px; }
  .address { font-size: 15px; }
  .register-btn { font-size: 12px; }
  .become-content .heading { font-size: 18px; }

  .envelope,
  .phone {
    font-size: 15px;
  }
  
  .ceo-info-group .facebook { display: none; }
  .contact-form .heading { font-size: 25px; }
  .contact-form .heading { padding: 20px; }

  .upper-footer { padding: 23px 0; }
}
/*=================================
media query for 320px ends here
=================================*/