@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 79.31%;
  margin: 0 auto;
}

/* css reset  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* common styling  */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.underline {
  color: var(--primary-color);
  text-decoration: underline;
}

.heading {
  font-size: 38px;
  font-weight: 700;
}

.section-para {
  margin-bottom: 28px;
  color: var(--p-color);
  font-size: 14px;
  line-height: 22px;
}

/* root elements  */
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #0dcaf0;
  --secondary-color: #0d6efd;
  --section-bg-color: #f0f8ff;
  --dark-color: #000000;
  --navbar-bg-color: #273053;
  --p-color: #717275;
  --highlight-icon-color: #ff0100;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 16px 0;
  background-color: var(--navbar-bg-color);
}

.header .wrapper {
  margin-left: 12.5%;
}

.logo {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
}

.brand-logo {
  flex-basis: 15%;
}

.logo::before {
  content: "\f140";
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-size: 32px;
  font-family: "FontAwesome";
  float: left;
}

.nav-item {
  color: var(--white-color);
  font-size: 13px;
  font-weight: 600;
}

.nav-item.active {
  color: var(--primary-color);
}

.nav {
  flex-basis: 62.5%;
}

.custom-btn {
  padding: 12px 18px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  font-weight: 700;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/*=================================
  hero section styling starts here
=================================*/
.hero-video {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: .8;
  object-fit: cover;
}


.hero-section .wrapper {
  position: relative;
}

.hero-content {
  padding: 202px 0 215px;
  flex-direction: column;
}

.hero-heading,
.year {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
}

.year {
  margin-bottom: 30px;
}

.time-venue span {
  padding: 11px 16px;
  display: inline-block;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 15px;
}

.next-section-btn {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 1.5%;
}

.next-section-btn::before {
  content: "\f063";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.time-venue {
  margin-bottom: 40px;
}

/*=================================
  hero section styling ends here
=================================*/
/*=================================
  highlight section styling starts here
=================================*/
.highlight-section {
  padding: 32px 0;
  background-color: var(--navbar-bg-color);
}

.highlight-item img {
  max-width: 344px;
  max-height: 228px;
}

.highlight-item {
  position: relative;
}

.highlight-item figcaption {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: var(--white-color);
  font-size: 28px;
  font-weight: 700;
}

.highlight-item::before {
  content: "\f167";
  position: absolute;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--highlight-icon-color);
  font-family: "FontAwesome";
  float: left;
  font-size: 60px;
}
/*=================================
  highlight section styling ends here
=================================*/
/*=================================
  story section styling starts here
=================================*/
.story {
  padding: 108px 0;
}

.story .heading {
  margin-bottom: 35px;
}

.left-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.avatar-list {
  display: flex;
  margin-right: 5%;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}

.story-box {
  align-items: initial;
}

.left-story {
  padding-right: 2%;
}

.meet-btn,
.schedule-btn {
  padding: 10px 17px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}

.meet-btn {
  border: 2px solid var(--primary-color);
  margin-right: 1.8%;
}

.schedule-btn {
  padding: 12px 15px;
  background-color: var(--navbar-bg-color);
  color: var(--white-color);
}

.bold-para {
  margin-bottom: 48px;
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
}

.bottom-para {
  font-size: 14px;
}

.right-bottom-story {
  padding: 48px 0;
  border-top: 1px solid var(--p-color);
  justify-content: initial;
}

.avatar-list figure {
  width: 36px;
}
/*=================================
  story section styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}